---
import ImageSisReport from '@assets/projects/sisreport.jpg'
import ImageUniaprende from '@assets/projects/uniaprende.png'

---

---

<section class="max-w-7xl mx-auto px-4 py-10">
  <div class="flex gap-2 items-center">
    <h2 class="uppercase font-micro5 text-8xl text-orange-600">Eventos</h2>

    <div class="border-y-2 h-2 border-dashed border-orange-600 flex-1"></div>
  </div>

  <div class="grid grid-cols-3 gap-4 mt-10">
    <div class="grid gap-4 mt-8">
      <img src={ImageSisReport.src} alt="" />
      <img src={ImageUniaprende.src} alt="" />
      <img src={ImageSisReport.src} alt="" />
      <img src={ImageSisReport.src} alt="" />
      <img src={ImageSisReport.src} alt="" />
      <img src={ImageSisReport.src} alt="" />
    </div>

    <div class="grid gap-4">
      <img src={ImageSisReport.src} alt="" />
      <img src={ImageSisReport.src} alt="" />
      <img src={ImageSisReport.src} alt="" />
      <img src={ImageSisReport.src} alt="" />
      <img src={ImageSisReport.src} alt="" />
      <img src={ImageSisReport.src} alt="" />
    </div>

    <div class="grid gap-4 mt-8">
      <img src={ImageSisReport.src} alt="" />
      <img src={ImageSisReport.src} alt="" />
      <img src={ImageSisReport.src} alt="" />
      <img src={ImageSisReport.src} alt="" />
      <img src={ImageSisReport.src} alt="" />
      <img src={ImageSisReport.src} alt="" />
    </div>
  </div>
</section>
